<div class="admin_right_top"><{$lang.myres}></div>
<table class="admin_table" width="100%" border="0" cellspacing="1" bgcolor="#FFFFFF">
	<tr bgcolor="#E8E8E8"  style="font-weight:bold"> 
	  <td width="150" bgcolor="#E8E8E8"><{$lang.rname}></td>
	  <td width="151" bgcolor="#E8E8E8"><{$lang.je}></td>
	  <td width="217" align="center" bgcolor="#E8E8E8"><{$lang.times}></td>
	  <td width="149" align="center" bgcolor="#E8E8E8"><{$lang.isopen}></td>
	  <td width="146" align="center" bgcolor="#E8E8E8"><{$lang.browse}></td>
	  <td width="147" align="center" bgcolor="#E8E8E8"><{$lang.operation}></td>
	</tr>
	<{foreach item=list from=$re.list}>
	<tr bgcolor="#F7F7F7"> 
	  <td width="150"><{$list.name}></td>
	  <td width="151"><{$list.catname}></td>
	  <td width="217" align="center"><{$list.time|date_format}></td>
	  <td width="149" align="center">
	  <{if $list.statu==1}><{$lang.open}><{else}><{$lang.close}><{/if}>	  </td>
	  <td align="center"><{$list.views}></td>
	  <td align="center"><a href="?menu=<{$smarty.get.menu}>&edit=<{$list.rid}>&action=m&m=job&s=admin_resume&menu=<{$smarty.get.menu}>"><img src="/image/default/page_edit.png" title="<{$lang.modify}>"></a> 
	  <a href="?deid=<{$list.rid}>&action=m&m=job&s=admin_resume_list&menu=<{$smarty.get.menu}>" onclick="return confirm('<{$lang.sure_del}>');"><img src="/image/default/delete.png " title="<{$lang.delete}>"></a></td>
	</tr>
	<{/foreach}>
</table>
<div align="right"><{$re.page}></div>