<!--底部开始 -->
	<div class="clear"></div>
	<div id="footer" class="topm">
   		<{$web_con}><br />
        <{$bt}>
	</div>
	<!--底部结束 -->
</div>
	<P class="grayy">
		<script src="<{$config.weburl}>/script/jf_change.js" type=text/javascript></script>
        <script type="text/javascript">
        var defaultEncoding = 2;
        var translateDelay = 0;
        var cookieDomain = ""; 
        var msgToTraditionalChinese = "Трад. китайский";
        var msgToSimplifiedChinese = "Упр. китайский";
        var translateButtonId = "B2Bbuilder";
        translateInitilization();
        </Script>
    </P>
    </div>
</body>
</html>
