<div class="qg_con_ul1">
	<ul>
		<{foreach item=list key=num from=$exhibition}>
			<{if $num<8}>
			<li><span><{$list.addTime|date_format}></span>
			<a href="<{$config.weburl}>/?m=exhibition&s=exhibition_detail&id=<{$list.id}>"><{$list.title|truncate:60:"...":true}></a>
			</li>
			<{/if}>
		<{/foreach}>
	</ul>
 </div>
<div class="qg_con_ul2">
	<ul>
		<{foreach item=list key=num from=$exhibition}>
			<{if $num>=8}>
			<li><span><{$list.addTime|date_format}></span>
			<a href="<{$config.weburl}>/?m=exhibition&s=exhibition_detail&id=<{$list.id}>"><{$list.title|truncate:60:"...":true}></a>
			</li>
			<{/if}>
		<{/foreach}>
	</ul>
 </div>


