<{include file="header.htm"}>
<div id="mainbody1" class="topm" style="background:#F8F8F8">
<table width="100%" border="0" align="center" cellspacing="1" bgcolor="#DDDDDD" style="margin-top:5px">
  <tr>
    <td height="381" align="left" valign="top" bgcolor="#FFFFFF">
      <table width='100%' border='0' cellspacing='0' cellpadding='0' bordercolor='#000000' bordercolorlight='#000000' bordercolordark='#FFFFFF' align="center" class="con">
			<tr>
              <td>
			<div class="staticPage">
<h2 id="fourOhFour">&nbsp;&nbsp;&nbsp;&nbsp;Опа! Опа! Опаньки.......!!!</h2>
<div style="padding:20px;">
<p>Если мы не нашли этой страницы, уверены, что и Вы не найдете ее, приятель!</p>
<p>
От всей души советую Вам использовать "Поиск по сайту" (он находится выше, вот, вот .... именно там - сверху). Ну а если по поиску не найдете, тогда уж извините, мы Вам ничем не сможем помочь.... 
<br />
<span class="attention">*</span> <em>Хотя можете еще намылить письмецо администратору сайта, он то Вам расскажет!</em>
</p>
<p>
<span class="attention">*</span>  Если Вы уверены, что по этому адресу, дествительно, должно что-то быть, тогда, 
пожалуйста, отправьте нам сообщение или перезвоните по телефону (контакты смотрите на главной странице). Как только мы его получим, мы свяжемся с Вами в ближайшее время!
</p>
<p class="proviso">
<span class="attention">*</span>
Все что было сказано выше касается только этого сайта. Успехов Вам в поиске!
</p>
</div>
</div>
				</td>
            </tr>
			
      </table>
	</td>
  </tr>
</table>
</div>
<{include file="footer.htm"}>