<script type="text/javascript">
function checkvalue()
{	
	if (document.subscrib.keycon.value=='')
	{
	  window.alert ("<{$lang.nokeyword}>");
	  return false;
	}
}
</script>
<form name="subscrib" action="?menu=<{$smarty.get.menu}>&action=admin_subscribe" method="POST">
<div class="admin_right_top"><{$lang.sub_scribe}></div>
<table class="admin_table" border="0" cellpadding="4" cellspacing="1" bgcolor="#FFFFFF">
	<tr bgcolor="#E8E8E8" style="font-weight:100">
	  <td colspan="8" align="left"><{$lang.remail}>&nbsp;&nbsp;<{$el.email}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="?menu=<{$smarty.get.menu}>&action=myshop"><{$lang.editemail}></a></td>
    </tr>
	<tr bgcolor="#E8E8E8" >
	  <td colspan="8" align="left">
	  <{$lang.keywords}> <input name='keycon' type='text' id="keycon" value="<{$de.keywords}>" style="width:200px;" >
	 <{$lang.ktype}><select name="ktype" id="ktype">
<option value="1" <{if $de.ktype==1}>selected<{/if}>><{$lang.pro}></option>
<option value="2" <{if $de.ktype==2}>selected<{/if}>><{$lang.offer}></option>
<option value="3" <{if $de.ktype==3}>selected<{/if}>><{$lang.exh}></option>
<option value="5" <{if $de.ktype==5}>selected<{/if}>><{$lang.news}></option>
</select>
<{$lang.rfreq}><select name="frequency" id="frequency">
<option value="1" <{if $de.validity==1}>selected<{/if}>><{$lang.oday}></option>
<option value="7" <{if $de.validity==7}>selected<{/if}>><{$lang.oweek}></option>
<option value="14" <{if $de.validity==14}>selected<{/if}>><{$lang.tweek}></option>
<option value="30" <{if $de.validity==30}>selected<{/if}>><{$lang.omonth}></option>
</select><{$lang.dit}>&nbsp;&nbsp;
<{$lang.vtime}> <select name="validity" id="validity">
<option value="30" <{if $de.validity==30}>selected<{/if}>><{$lang.osmonth}></option>
<option value="60" <{if $de.validity==60}>selected<{/if}>><{$lang.tmonth}></option>
<option value="180" <{if $de.validity==180}>selected<{/if}>><{$lang.smonth}></option>
<option value="360" <{if $de.validity==360}>selected<{/if}>><{$lang.oyear}></option>
</select>
<input name="addid" type="submit" value="<{if $de.id==''}><{$lang.kadd}><{else}><{$lang.kedit}><{/if}>" onclick="return checkvalue();"/>
<input name="seditid" type="hidden" value="<{$de.id}>"/>
	  </td>
    </tr>
	<tr bgcolor="#E8E8E8" > 
	  <td width="25%" bgcolor="#E8E8E8"><{$lang.keywords}></td>
	  <td width="10%" bgcolor="#E8E8E8"><{$lang.keytype}></td>
	  <td width="15%" align="left" bgcolor="#E8E8E8"><{$lang.subtime}></td>
	   <td width="15%" align="left" bgcolor="#E8E8E8"><{$lang.lastrectime}></td>
	  <td width="8%" align="left" bgcolor="#E8E8E8"><{$lang.recfre}></td>
	  <td width="8%" align="left" bgcolor="#E8E8E8"><{$lang.vtime}></td>	  
	  <td width="15%" align="left" bgcolor="#E8E8E8"><{$lang.kaction}></td>
    </tr>
	<{foreach item=slist from=$subscribe}>
	<tr bgcolor="#F7F7F7"> 
	  <td><{$slist.keywords}></td>
	  <td>
	    <{if $slist.ktype==1}><{$lang.pro}><{/if}>
		<{if $slist.ktype==2}><{$lang.offer}><{/if}>
		<{if $slist.ktype==3}><{$lang.exh}><{/if}>
		<{if $slist.ktype==4}><{$lang.project}><{/if}>
		<{if $slist.ktype==5}><{$lang.news}><{/if}>
		</td>
		<td ><{$slist.uptime|date_format}></td>
		<td ><{if $slist.lastrectime!=''}><{$slist.lastrectime|date_format}><{/if}></td>
		<td >
		<{if $slist.frequency==1}><{$lang.oday}><{/if}>
		<{if $slist.frequency==7}><{$lang.oweek}><{/if}>
		<{if $slist.frequency==14}><{$lang.tweek}><{/if}>
		<{if $slist.frequency==30}><{$lang.omonth}><{/if}></td>
	  <td align="center"><{$slist.validity}><{$lang.dmonth}></td>
	  <td ><a href="?menu=<{$smarty.get.menu}>&action=admin_subscribe&editid=<{$slist.id}>"><img src="/image/default/page_edit.png" title="<{$lang.kedit}>"></a>
	  <a href="?menu=<{$smarty.get.menu}>&action=admin_subscribe&delid=<{$slist.id}>" onclick="return confirm('<{$lang.suredel}>');"><img src="/image/default/delete.png " title="<{$lang.delit}>"></a></td>
    </tr>

	<{/foreach}>
</table>
</form>