<script src="script/my_lightbox.js" language="javascript"></script>
<script>
closeimg='<{$config.weburl}>/image/default/icon_close.gif';
weburl='<{$config.weburl}>';
</script>
<div class="admin_right_top">
<{if $smarty.get.type==1}>
	<{$lang.cominfo}>
<{elseif $smarty.get.type==2}>
	<{$lang.fzlc}>
<{elseif $smarty.get.type==3}>
	<{$lang.zzjg}>
<{elseif $smarty.get.type==4}>
	<{$lang.cgal}>
<{/if}>
</div>
	 <form action="" name="form" method="post" enctype="multipart/form-data" onSubmit="return Validator.Validate(this,3)">
<table width="100%" border="0" cellpadding="6" cellspacing="1" bgcolor="#DDDDDD" style="margin-bottom:4px;">
  <tr>
    <td width="10%" height="45" align="left" valign="top" bgcolor="#EAEFF3"><{$lang.detail}></td>
    <td width="90%" align="left" valign="top" bgcolor="#FFFFFF">
			<{if $de.intro!=''}>
				<{$de.intro}>
			<{else}>
				<script type="text/javascript" src="lib/fckeditor/fckeditor.js"></script>
				<script type="text/javascript">
				var oFCKeditor = new FCKeditor( 'intro' ) ;
				oFCKeditor.Config['ToolbarStartExpanded'] = true ;
				<{if $config.language=='en'}>
					oFCKeditor.Config['DefaultLanguage']='en';
				<{else}>
					oFCKeditor.Config['DefaultLanguage']='zh-cn';
				<{/if}>
				oFCKeditor.BasePath		= 'lib/fckeditor/' ;
				oFCKeditor.ToolbarSet	= 'frant' ;
				oFCKeditor.Width='100%';
				oFCKeditor.Height=400;
				oFCKeditor.Create() ;
				</script>
			<{/if}>
		</td>
  </tr>
    <tr>
    <td align="left" valign="top" bgcolor="#EAEFF3"><{$lang.upload_pic}></td>
    <td align="left" valign="top" bgcolor="#FFFFFF">
		<input name="logo" type="text" id="logo" value="<{$de.logo}>" size="60">
		[<a href="javascript:uploadfile('Загрузка логотипа','logo',300,300)">Загрузить</a>] 
		[<a href="javascript:preview('logo');">Предпросмотр</a>]
		[<a onclick="javascript:$('logo').value='';" href="#">Удалить</a>]
	</td>
    </tr>
    <tr>
    <td height="45" align="left" valign="top" bgcolor="#EAEFF3">&nbsp;</td>
    <td align="left" valign="top" bgcolor="#FFFFFF">
	  <input type='submit' name='Submit' value='<{$lang.submit}>' style="width:100px;" />
	  <input type='submit' name='Submit-next' value='Следующий шаг' style="width:120px;" />
      <input name="action" type="hidden" id="action" value="submit" />
      <input name="type" type="hidden" id="type" value="<{$smarty.get.type}>" />
	  </td>
    </tr>
</table>
  </form>