<form method="post" action="" enctype="multipart/form-data">
<div class="admin_right_top"><{$lang.ch_pass}></div>
<table border="0" align="center" cellpadding="7" cellspacing="1" bgcolor="#DDDDDD" class="admin_table">
<{if $smarty.get.info}>
<tr>
  <td width="18%" height="0" align="center" bgcolor="#EAEFF3"></td>
  <td width="82%" height="0" bgcolor="#FFFFFF" style="font-size:14px; color:#FF0000; font-weight:bold">
  <{$lang.notice}>
        <{if $smarty.get.info==1}>
        	<{$lang.old_erroy}>
        <{elseif $smarty.get.info==2}>
        	<{$lang.repat_erroy}>
        <{elseif $smarty.get.info==3}>
        	<{$lang.edit_suc}>
        <{/if}>
  </td>
</tr>
<{/if}>
<tr>
  <td width="18%" align="right" bgcolor="#EAEFF3"><{$lang.cu_pass}></td>
  <td bgcolor="#FFFFFF" width="82%"><input name="oldpass" type="password" id="oldpass" /></td>
</tr>
<tr>
  <td width="18%" align="right" bgcolor="#EAEFF3"><{$lang.new_pass}></td>
  <td width="82%" bgcolor="#FFFFFF"><input name="newpass" type="password" id="newpass" /></td>
</tr>
<tr>
  <td width="18%" align="right" bgcolor="#EAEFF3"><{$lang.con_pass}></td>
  <td width="82%" bgcolor="#FFFFFF"><input name="renewpass" type="password" id="renewpass" /></td>
</tr>
<tr bgcolor="#EAEFF3">
  <td align="center" bgcolor="#EAEFF3">&nbsp;</td>
  <td align="left" bgcolor="#FFFFFF">
  <input type="submit" name="submit" value="<{$lang.submit}>" style="width:100px;" />
  <input name="action" type="hidden" id="action" value="submit" />
 </td>
</tr>	
</table>
</form>      