<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="admin_right_top"><{$lang.notice}></div>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="219" align="left" style="font-size:12px; padding-left:100px;">
	<strong>
		<h3>
			<{if $smarty.get.type=='reg_next'}>
				<{$lang.reg_next}>
			<{/if}>
			<{if $smarty.get.type=='active'}>
				<{$lang.active}>
			<{/if}>
            <{if $smarty.get.type=='access_dine'}>
				<{$lang.access_dine}>
			<{/if}>
		</h3>
	</strong>
	</td>
 </tr> 
</table>