@charset "utf-8";
/* CSS Document */
.list6 table td {padding:5px 10px;}
.list6 table td strong a,.list6 table td strong a:visited,.hot_zhanhui_item strong a,.hot_zhanhui_item strong a:visited{ color:#005AA6;}
.newsbodyleft .exhibition td{ padding-left:10px;}

