<{include file="header.htm"}>
<!--主体开始 -->
	<div id="mainbody1" class="topm">
	    <!--主体右侧开始 -->
		<div class="leftbar">
				<div class="title4" ><div class="title_left2 L2">5<{$lang.sitelink}></div></div>
				 <div class="content4">
					<ul class="li_list">
					 	<{include file="../default/i_left.htm"}>
				   </ul>
			    </div>
			  	<div class="bottom4"></div>
				<div class="clear"></div>
		</div>		
		<!--主体右侧结束 -->
		<!--主体左侧开始 -->
		<div class="rightbar">
			<div class="sectitle"><div class="title_left1 L2"><{$lang.callpass}></div></div>
			<div class="seccon overflow">
			<div class="right-div">
				<div style="text-align:left;line-height:22px;padding:10px; height:210px;">	
					<{$lang.passtoemail}>		
				</div>
			</div>
			<div class="bottom5"></div>
			<div class="clear"></div>
			</div>
		</div>
</div>

<{include file="footer.htm"}>
