<{include file="header.htm"}>
<div class="menu_bottom L1">				
    <div class="headtop_L">
        <strong><a href='<{$config.weburl}>/'><{$lang.indexpage}></a> &raquo; <a href='<{$config.weburl}>/?m=offer'><{$lang.offercat}></a> &raquo; <{$guide}></a></strong>
    </div>
    <div class="headtop_R"></div>		
</div>

<div id="mainbody1" class="topm">
		<div class="leftbar1">
			<div class="left2">
				<div class="title9" >
					<div class="title_left1 L2">Регионы</div><div class="more"></div>
		        </div>
				 <div class="content9">
					<ul class="list2">
					<{insert name="label" type="province" temp='province_buylist'}>
				   </ul>
			    </div>
			  	<div class="bottom9"></div>
			</div>
			
		</div>

		<!--主体左侧结束 -->
		<div class="rightbar1_search">
				<!---subcat start-->
			<{if $subcat.0.catid}>
				<div class="title10"><div class="title_left L2"><{$lang.cat_nav}></div></div>
				<div class="content10" >
					<ul class="nav_list">
						<{foreach item=list from=$subcat}>
							<a href="<{$config.weburl}>/?m=offer&s=offer_list&id=<{$list.catid}>"><{$list.cat}> (<{$list.rec_nums}>)</a>
						<{/foreach}>
					</ul>
				</div>
				<div class="bottotopm0" style="margin-bottom:5px"></div>
			<{/if}>
			<!---subcat end-->
			<div class="title10"><div class="title_left L2"><{$lang.offer_list}></div>
                 <div class="lookmore">
                    <{if $config.domaincity&&$config.base_url}>
                        <a href="http://www.<{$config.base_url}>/?m=offer&s=offer_list&id=<{$smarty.get.id}>"><{$lang.lookmore}><{$current_cat}></a>
                    <{/if}>
                </div>
            
            </div>
			<div class="content10">
				
			<div style="float:left;width:100%;margin:10px;text-align:left;">
                <input onclick="do_select();" name="" type="checkbox" value="" />
                <input onclick="get_inquery();" name="" type="button" value="Пакетный запрос" />
                <input onclick="add_inquery('info','<{$config.weburl}>','');" name="" type="button" value="Добавить в рассылку" />
                &nbsp;&nbsp;
				<{foreach item=list key=num from=$infoType}>
				<a href="<{$config.weburl}>/?m=offer&s=offer_list&catType=<{$num}>&id=<{$smarty.get.id}>&key=<{$smarty.get.key|urlencode}>"><img alt="<{$list}>" src="<{$config.weburl}>/image/<{$config.temp}>/offer_<{$num}>.gif"/></a>
				<{/foreach}>
				<hr size="1" width="99%"  noshade style="border:1px dotted #dddddd">
			</div>  
			        <script>
					function do_select()
					{
						 var box_l = document.getElementsByName("inquery").length;
						 for(var j = 0 ; j < box_l ; j++)
						 {
							if(document.getElementsByName("inquery")[j].checked==true)
							  document.getElementsByName("inquery")[j].checked = false;
							else
							  document.getElementsByName("inquery")[j].checked = true;
						 }
					}
					function get_inquery()
					{	
						var pid='';
						var boxes = document.getElementsByName("inquery");   
						for (var i = 0; i < boxes.length; i++)  
						{  
							if(boxes[i].checked)  
							{  
								pid+=boxes[i].value+',';  
							} 
						}
						window.location='<{$config.weburl}>/inquire.php?contype=2&offerid='+pid;
					}
					</script>
        <ul class="list9" style="float:left;">
		<{foreach item=list from=$info.list}>
        	<li>
            	<div class="Lb0"><input name="inquery" type="checkbox" value="<{$list.id}>" /></div>
				<div class="Lb1" style="width:110px;">
                <{assign var="img" value=$list.pic|explode_one:","}>
                <{html_image file=uploadfile/zsimg/size_small/$img.jpg width=100 alt=$list.title}>
                </div>
                
                <div class="Lb2">
                <p style="font-size:14px; font-weight:bold;">
                <img src="<{$config.weburl}>/image/<{$config.temp}>/offer_<{$list.type}>.gif"  align="absmiddle">
				<a href="<{geturl type='infod' uid=$list.userid user=$list.user tid=$list.id}>" target="_blank" title="<{$list.title}>"><{$list.title}></a>
                </p>
				<{$list.con|strip_tags|truncate:200:"...":true}><br/>
                <{if !$smarty.get.key}>
				<span><a rel="nofollow" href="<{geturl type='infolist' uid=$list.userid user=$list.user}>" target="_blank" ><{$lang.browse_more}></a>  <a rel="nofollow" href="<{geturl type='' uid=$list.userid user=$list.user}>" target="_blank" ><{$list.company}></a></span>
                <{/if}>
                </div>
                <div class="Lb3"><{$list.uptime|date_format}></div>
                <div class="Lb3">
				[<{$list.province}>&nbsp;<{$list.city}>]<br />
				<img src="<{$config.weburl}>/image/<{$config.temp}>/listicon_inquiry.gif" width="18" align="absmiddle" border="0" height="14"> <a rel="nofollow" href="<{geturl type='mail' uid=$list.userid user=$list.user}>"><{$lang.now_requier}></a>
                </div>
		</li>
		<{foreachelse}>
				  <div style="padding:20px; font-weight:bold">
				 <{$lang.no_offer}> 
				  <a href="<{$config.weburl}>/main.php">
				   <font color="#FF0000">
				  <{$lang.now_add}>
				  </font>
				  </a>
				  </div>
			<{/foreach}>
        </ul>
		<div class="page"><{$info.page}></div>
		<!--  PRODUCT LIST END -->
		<div class="clear"></div>
	</div>
	
	<!--contents end-->
	</div>
</div>
<!--bodybox end-->
<{include file="footer.htm"}>