<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td rowspan="2">
    	<div class="common_box2">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr class="guide_ba2"><td><{$shopconfig.home_news_name}><span>NEWS</span></td>
        </tr>
      <tr>
        <td>
			<div class="pro_tit" >
            	<ul>
                	<li><a href="#" class="current">产品展示</a></li>
                    <li><a href="#">新品推荐</a></li>
                </ul>
            </div>
            <div class="pro_con"  id="pro_con1">
            	<div class="pro_con_top">
                	<img src="<{$img}>/pic1.jpg" />
                    <h3>庞大搬运公司，自1993年成立迄今11111</h3>
                    <p>
已16年之久，深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好。我们以服务客户为己任，追求安全、高效、及时、认真的</p>
				<div class="clear"></div>
                </div>
                <div class="pro_con_bottom">
                	<ul>
                        <li><span>2011.7.8</span><a href="#">深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好1。</a></li>
                        <li><span>2011.7.8</span><a href="#">深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好1。</a></li>
                        <li><span>2011.7.8</span><a href="#">深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好1。</a></li>
                        <li><span>2011.7.8</span><a href="#">深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好1。</a></li>
                        <li><span>2011.7.8</span><a href="#">深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好1。</a></li>
                        <li><span>2011.7.8</span><a href="#">深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好1。</a></li>
                        <li><span>2011.7.8</span><a href="#">深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好1。</a></li>
                    </ul>
                
                </div>
            </div>
            <div class="pro_con"  id="pro_con2">
            	<div class="pro_con_top">
                	<img src="<{$img}>/pic1.jpg" />
                    <h3>庞大搬运公司，自1993年成立迄今11111</h3>
                    <p>
已16年之久，深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好。我们以服务客户为己任，追求安全、高效、及时、认真的</p>
				<div class="clear"></div>
                </div>
                <div class="pro_con_bottom">
                	<ul>
                        <li><span>2011.7.8</span><a href="#">深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好1。</a></li>
                        <li><span>2011.7.8</span><a href="#">深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好1。</a></li>
                        <li><span>2011.7.8</span><a href="#">深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好1。</a></li>
                        <li><span>2011.7.8</span><a href="#">深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好1。</a></li>
                        <li><span>2011.7.8</span><a href="#">深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好1。</a></li>
                        <li><span>2011.7.8</span><a href="#">深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好1。</a></li>
                        <li><span>2011.7.8</span><a href="#">深蒙广大客户支持鼓励，业绩不断成长，口碑尚称良好1。</a></li>
                    </ul>
                
                </div>
            </div>
            </td>
      </tr>
    </table>
</div> 
    </td>
    <td align="center" valign="top" class="bg" style="height:130px;">
    	<table width="90%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td colspan="2"><div class="item">站内搜索<span>SEARCH</span></div></td>
                  </tr>
                  <tr>
                    <td width="160"><input style="width:150px;" type="text" /></td>
                    <td rowspan="2"><input name="" type="image" src="<{$img}>/sea2.jpg" /></td>
                  </tr>
                  <tr>
                    <td><select name="">
                      <option>产品分类</option>
                    </select></td>
                  </tr>
                </table>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" class="bg">
    	<div>
    	<div class="com_contact">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td colspan="2" class="item">企业视频<span>video</span></td>
                  </tr>
                  <tr>
                    <td><img src="<{$img}>//video.jpg" /></td>
                  </tr>
                </table>
        </div>
    </div>
    </td>
  </tr>
</table>
