<div class="menu_bottom L1">				
    <div class="headtop_L">
       <a href='<{$config.weburl}>/'><{$lang.indexpage}></a> &raquo; <{$lang.title}></a>
    </div>
    <div class="headtop_R"></div>		
</div>

<link href="<{$config.weburl}>/templates/default/news.css" rel="stylesheet" type="text/css" />
<div id="mainbody1" class="m1">
    <div class="second_menu">
        <li><{$lang.title}>：</li>
        <{foreach item=list from=$news_menu}>
        <li><a href="<{$config.weburl}>/?m=news&s=newslist&id=<{$list.catid}>"><{$list.cat}></a></li>
        <{/foreach}>
    </div>
	<div>
    	<div class="news_left">
        	<{insert name="label" type='news' temp='news_flash' flash=true img='true' width='295' height='222' limit=5}>
        </div>
    	<div class="news_middle">
        	<ul><{insert name="label" type='news' temp='news_list_3' leng=200 limit=5}></ul>
        </div>
    	<div class="news_right">
        	
			<div class="sectitle"><div class="title_left1 L2"><{$lang.special}></div></div>
            <div class="seccon" style="padding:10px;">
                 <ul class="ul1">
                  <{insert name="getSpecial" limit=6 leng=80}>
                 </ul>
				 <div class="clear"></div>
           </div>
        </div>
       
        <div class="adv">
        	<script src='<{$config.weburl}>/api/ad.php?id=27&catid=<{$smarty.get.id}>&sname=<{$sname}>'></script>
        </div>
        
        <div class="news_l">
        	<{foreach item=list name=loop from=$news_menu}>
                <div class="box<{if $smarty.foreach.loop.iteration%2==0}>s<{/if}>">
                    <div class="sectitle"><div class="title_left1 L2"><{$list.cat}></div> 
                    	<a target="_blank" style="float:right; padding:6px;" href="<{$config.weburl}>/?m=news&s=news_list&id=<{$list.catid}>"><img src="<{$config.weburl}>/image/default/more.gif"></a>
                    </div>
                    <div class="seccon">
                         <ul class="ul1" style="padding:10px">
                            <{insert name="label" type='news' temp='news_list_pic' catid=$list.catid img='true' leng=42 limit=5}>
                           
                         </ul>
                   </div>
                </div>
            <{/foreach}>
        </div>
        <div class="news_r">
        	<div class="tjtw">
                <div class="sectitle"><div class="title_left1 L2"><{$lang.RecommendedGraphic}></div></div>
                <div class="seccon" style="margin-bottom:10px">
                     <ul class="ul1">
                       <{insert name="label" type='news' temp='news_list_2' img='true' leng=16 limit=5}>
                     </ul>
                     <div class="clear"></div>
               </div>
            </div>
           <div class="dcwj">
               <div class="sectitle"><div class="title_left1 L2"><{$lang.questionnaire}></div></div>
                <div class="seccon" style="margin-bottom:10px">
                     <ul class="ul1" style="padding:20px">
                       <{insert name="label" type='vote' temp='vote_list' limit=2}>
                     </ul>
               </div>
           </div>
           
        </div>
    </div>
</div>
